* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #363636;
  overflow-y: hidden;
}
main {
  margin-left: 180px;
}

aside {
  background-color: #201f1f;
  position: fixed;
  top: 0;
  left: 0%;
  width: 180px;
  height: 100%;
  padding: 20px 0;
}

.append-time {
  display: flex;
  flex-direction: column;
}

.append-time div {
  margin-left: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.pic-wrapper {
  display: flex;
  margin-top: 1rem;
  margin-bottom: -3rem;
}

.profile-pic {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  padding: 0;
  z-index: 10;
}

.profile-pic:hover {
  cursor: pointer;
}

.button-wrapper-img {
  border: none;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
}

.button-wrapper-img:focus {
  outline: none;
}

.dropdown {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  margin: 5rem 0 0 180px;
  border-radius: 3%;
  width: 20%;
  height: 30%;
  z-index: 10;
  background-color: rgb(114, 114, 114);
}

.pic-in-dropdown {
  background-color: #fefe;
  margin: 2% auto;
  padding: 20px;
  border: none;
  border-radius: 50%;
  width: 20%;
  height: 25%;
  overflow: auto;
  background-position: center;
  background-size: cover;
}

.dropdown.shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown ul {
  list-style: none;
  margin: 1rem 0 0 1rem;
}

.modal-change-pic {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-change-pic-content {
  background-color: whitesmoke;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-change-pic-content input {
  width: 100%;
  height: 30px;
}

main {
  display: flex;
  flex-direction: row;
}

main div {
  width: 45.3vw;
  height: 100vh;
}

.left::after {
  content: '';
  margin-top: 10rem;
  margin-left: 30rem;
  position: absolute;
  top: -1rem;
  bottom: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-top: 5%;
}

#name {
  font-size: 36px;
}

main div h2 {
  margin-left: 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-top: 1rem;
  color: #fff;
}

#zoekbalk {
  height: 38px;
  width: 30%;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-top: 2em;
  position: fixed;
}

#zoekbalk:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.submit-btn {
  display: none;
}

#search-type {
  height: 38px;
  width: auto;
  max-width: 7em;
  padding: 6px 0px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  margin-top: 1.7rem;
  margin-right: 7%;
  /* margin: 1.7rem 4.7em 0em 0em; */
}

#search-type:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  width: 450px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.card h1 {
  margin-top: 3%;
  text-align: left;
  margin-left: 8px;
  width: 100px;
}

.card p {
  margin-top: 4%;
  text-align: left;
  width: 100px;
  margin-left: 20px;
}

.card h2 {
  margin-top: 4%;
  text-align: left;
  width: 100px;
  margin-left: 20px;
  color: black;
}

.card:first-of-type {
  margin-top: 1rem;
}

.card:hover {
  cursor: pointer;
}

.card:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.card-spec {
  background-color: #ffffff;
  border: none;
  border-radius: 35px;
  width: 400px;
  height: 550px;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0.8rem;
}

.card-spec h1,
.card-spec h2 {
  text-align: center;
}

.card-spec p {
  text-align: left;
}
.card-spec h1 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
}

.menu-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-wrapper button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 2rem;
  border: none;
  font-size: 10px;
}

.menu-wrapper button:hover {
  cursor: pointer;
}

.menu-wrapper button:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.menu-wrapper button img:first-of-type {
  transform: scale(0.8);
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 43%;
  display: block;
  transition: all 0.3s;
  transform: translateX(0rem);
}

#medicijnen-label {
  margin-left: 53%;
}

#resultaat-label {
  margin-left: 46%;
}

#submit-form input {
  font-family: 'Roboto', sans-serif;
  border: none;
  color: #333;
  font-size: 1.2rem;
  margin: 0.3rem auto;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  height: 1px;
  width: 30vw;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

#submit-form input:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

form #ziekte {
  margin-top: 0;
}

#geslacht {
  width: 20%;
  text-align-last: center;
  margin: 1rem auto;
}

#geslacht:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

#resultaat {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0.3rem auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  height: 0.5vh;
  width: 30vw;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

#resultaat:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
}

#submit-form input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
}

#submit-form .center {
  width: 180px;
  height: 60px;
  position: absolute;
}

#submit-form .btn {
  width: 10%;
  margin: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#submit-form .btn:hover {
  transition: 1s ease-in-out;
  background: #ebebeb;
  cursor: pointer;
}

.modal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: unset;
  height: unset;
}

.card-in-modal {
  margin-top: 1rem;
  width: 450px;
  height: 30px;
  margin: 0;
  margin-top: 30px;
  background-color: #708090;
  border-radius: 6px;
  text-align: left;
}

/* .card-in-modal::before {
  content: "";
  width: 50%;
  height: 0.5rem;
  border-radius: 0 20px 0 0;
  background-color: #708090;
  position: absolute;
  top: -8px;
  left: 0px;
} */

.card-in-modal:first-of-type {
  margin-top: 3rem;
}

.card-in-modal h1,
.card-in-modal h2,
.card-in-modal p {
  font-size: 11px;
  text-align: left;
}

.card-in-modal h1 {
  margin-top: 7px;
}

.card-in-modal h2,
.card-in-modal p {
  margin-top: 8px;
}

#section-all-dossiers {
  margin-top: 6rem;
  overflow-y: scroll;
  height: 80%;
}
