@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

body {
  background: linear-gradient(110deg, #313131 60%, #212122 60%);
}

p {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

#logo-header {
  width: 100px;
  height: 100px;
  margin-left: 1em;
}

header h1 {
  margin-right: auto;
  color: hsl(0, 0%, 80%);
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: large;
}

header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 2rem;
}

.name-logout {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.name-logout p {
  color: hsl(0, 0%, 80%);
}

.name-logout button {
  background-color: transparent;
  color: hsl(0, 0%, 80%);
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main button {
  cursor: pointer;
  margin: 3em;
  width: 290px;
  height: 290px;
  border-radius: 2em;
}

.blokjes {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 290px;
  height: 290px;
  border-radius: 2em;
}

.blokjes p {
  padding-bottom: 1em;
}

#dossier-toevoegen {
  background-image: url(../img/plus.png);
}

#alle-dossiers {
  background-image: url(https://static.thenounproject.com/png/3857507-200.png);
  background-repeat: no-repeat;
  background-position: center;
}

#dossier-zoeken {
  background-image: url(../img/vergrootglas.png);
}
