* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow-y: hidden;
}
main {
  margin-left: 180px;
}

aside {
  background-color: #e2eaeb;
  position: fixed;
  top: 0;
  left: 0%;
  width: 180px;
  height: 100%;
  padding: 20px 0;
}

.append-time {
  display: flex;
  flex-direction: column;
}

.append-time div {
  margin-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: row;
}

main div {
  width: 45.3vw;
  height: 100vh;
}

.left::after {
  content: "";
  margin-top: 10rem;
  margin-left: 30rem;
  position: absolute;
  top: -1rem;
  bottom: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-top: 5%;
}

.right {
  overflow-y: scroll;
}

main div h2 {
  margin-left: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  margin-top: 1rem;
}

#zoekbalk {
  height: 38px;
  width: 30em;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  margin-top: 2em;
  position: fixed;
}

#zoekbalk:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.submit-btn {
  display: none;
}

#search-type {
  height: 38px;
  width: 4.8em;
  padding: 6px 8px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  margin: 1.7rem 4.5rem auto auto;
}

#search-type:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.card {
  background-color: #e2eaeb;
  border: none;
  border-radius: 35px;
  width: 400px;
  margin-top: 2rem;
}

.card:first-of-type {
  margin-top: 6rem;
}

.card:hover {
  cursor: pointer;
}

.card:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.card-spec {
  background-color: #e2eaeb;
  border: none;
  border-radius: 35px;
  width: 400px;
  height: 550px;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 0.8rem;
}

.card-spec h1,
.card-spec h2 {
  text-align: center;
}

.card-spec p {
  text-align: left;
}
.card-spec h1 {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
}

.menu-wrapper {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-wrapper button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 2rem;
  border: none;
  font-size: 10px;
}

.menu-wrapper button:hover {
  cursor: pointer;
}

.menu-wrapper button:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

.menu-wrapper button img:first-of-type {
  transform: scale(0.8);
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 43%;
  display: block;
  transition: all 0.3s;
  transform: translateX(0rem);
}

#medicijnen-label {
  margin-left: 53%;
}

#resultaat-label {
  margin-left: 46%;
}

#submit-form input {
  font-family: "Roboto", sans-serif;
  border: none;
  color: #333;
  font-size: 1.2rem;
  margin: 0.3rem auto;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  height: 1px;
  width: 30vw;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.3s;
}

#submit-form input:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

form #ziekte {
  margin-top: 0;
}

#geslacht {
  width: 20%;
  text-align-last: center;
  margin: 1rem auto;
}

#geslacht:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

#resultaat {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0.3rem auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  height: 0.5vh;
  width: 30vw;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

#resultaat:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
}

#submit-form input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-4rem);
  transform: translateX(-4rem);
}

#submit-form .center {
  width: 180px;
  height: 60px;
  position: absolute;
}

#submit-form .btn {
  width: 10%;
  margin: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#submit-form .btn:hover {
  transition: 1s ease-in-out;
  background: #ebebeb;
  cursor: pointer;
}
